################################################################
# Note on GPU acceleration
#
################################################################
# Basic packages used in many of the tutorials.

numpy
torch
torchvision
stanfordnlp

################################################################
# deep learning with GPU acceleration


################################################################
